Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirecionar /api/* para public/api/*
    RewriteRule ^api/(.*)$ public/api/$1 [L,QSA]

    # If the requested resource exists as a file or directory, serve it directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Otherwise, route everything to the /public front controller
    RewriteRule ^ public/index.php [L,QSA]
</IfModule>
